@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.content {
  /* border: 2px solid red; */
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}
